Options +FollowSymLinks
RewriteEngine on

AddCharset UTF-8 .php
AddCharset ISO-8859-1 .html
RewriteEngine On

php_value upload_max_filesize 40M
php_value post_max_size 600M
php_value max_execution_time 360

<FilesMatch "\.(htaccess|htpasswd|ini|phps|log|bak|sql|txt|)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
