/*--------------------MANUALES--------------------*/
/*manuales, links*/
.contenedor-archivos {
  width: 80%;
  margin: 1% 10%;
  display: flex;
  -webkit-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap; }
  .contenedor-archivos > a {
    margin: 7px;
    background-color: white;
    text-align: center;
    padding: 10px 0px;
    border-radius: 5px; }
    .contenedor-archivos > a img {
      margin: 2px auto;
      width: 33.33333%; }
    @media (max-width: 750px) {
      .contenedor-archivos > a {
        width: 45%; } }
    @media (min-width: 750px) {
      .contenedor-archivos > a {
        width: 30%; } }

/*Videos*/
.video-contenedor, .enlaces-contenedor, .software-contenedor {
  width: 100%;
  display: flex;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 15px 0px; }
  .video-contenedor > div, .video-contenedor > a, .enlaces-contenedor > div, .enlaces-contenedor > a, .software-contenedor > div, .software-contenedor > a {
    overflow: hidden;
    text-align: center;
    margin: 2px 0px 10px 0px;
    padding: 10px 0px;
    border-radius: 5px;
    border: solid #999 1px;
    background-color: white; }
    .video-contenedor > div iframe, .video-contenedor > a iframe, .enlaces-contenedor > div iframe, .enlaces-contenedor > a iframe, .software-contenedor > div iframe, .software-contenedor > a iframe {
      border: none; }
    @media (max-width: 750px) {
      .video-contenedor > div, .video-contenedor > a, .enlaces-contenedor > div, .enlaces-contenedor > a, .software-contenedor > div, .software-contenedor > a {
        width: 60%; }
        .video-contenedor > div.flexissue, .video-contenedor > a.flexissue, .enlaces-contenedor > div.flexissue, .enlaces-contenedor > a.flexissue, .software-contenedor > div.flexissue, .software-contenedor > a.flexissue {
          width: 60; } }
    @media (min-width: 750px) and (max-width: 970px) {
      .video-contenedor > div, .video-contenedor > a, .enlaces-contenedor > div, .enlaces-contenedor > a, .software-contenedor > div, .software-contenedor > a {
        width: 49%; }
        .video-contenedor > div.flexissue, .video-contenedor > a.flexissue, .enlaces-contenedor > div.flexissue, .enlaces-contenedor > a.flexissue, .software-contenedor > div.flexissue, .software-contenedor > a.flexissue {
          width: 49; } }
    @media (min-width: 970px) {
      .video-contenedor > div, .video-contenedor > a, .enlaces-contenedor > div, .enlaces-contenedor > a, .software-contenedor > div, .software-contenedor > a {
        width: 40%; }
        .video-contenedor > div.flexissue, .video-contenedor > a.flexissue, .enlaces-contenedor > div.flexissue, .enlaces-contenedor > a.flexissue, .software-contenedor > div.flexissue, .software-contenedor > a.flexissue {
          width: 40; } }

.software-contenedor {
  width: 70%;
  margin: auto; }
  .software-contenedor div img {
    width: 60%;
    border-radius: 100%;
    background-color: #c4c4c4;
    padding: 10px; }
  @media (max-width: 750px) {
    .software-contenedor {
      width: 100%; } }

.enlaces-contenedor > a img {
  margin: 2px auto;
  width: 70%; }
.enlaces-contenedor > a .btn:hover spam {
  color: #069; }
