/*--------------------MANUALES--------------------*/
.contenedor-archivos {
  width: 80%;
  margin: 1% 10%;
  display: flex;
  -webkit-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap; }
  .contenedor-archivos > a {
    margin: 7px;
    background-color: white;
    text-align: center;
    padding: 10px 0px;
    border-radius: 5px; }
    .contenedor-archivos > a img {
      margin: 2px auto;
      width: 33.33333%; }
    @media (max-width: 750px) {
      .contenedor-archivos > a {
        width: 45%; } }
    @media (min-width: 750px) {
      .contenedor-archivos > a {
        width: 30%; } }

/*--------------------VIDEOS--------------------*/
.video-contenedor {
  width: 100%;
  display: flex;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 15px 0px; }
  .video-contenedor > div {
    overflow: hidden;
    text-align: center;
    margin: 2px 0px 10px 0px;
    padding: 10px 0px;
    border-radius: 5px;
    border: solid #999 1px;
    background-color: white; }
    .video-contenedor > div iframe {
      border: none; }
    @media (max-width: 750px) {
      .video-contenedor > div {
        width: 60%; } }
    @media (min-width: 750px) and (max-width: 970px) {
      .video-contenedor > div {
        width: 49%; } }
    @media (min-width: 970px) {
      .video-contenedor > div {
        width: 40%; } }
