@import "../../_lib.scss";

.inversionista {
	border-radius: 1em;
	border: solid white 30px;
	margin: auto;
	margin-bottom: 30px;
	img {
		width: 100%;
	}
	h1,h2,h3,h4,h5,h6{
		text-align: center;
		font: bold;
	}

	/*Media queries*/
	@media (max-width: $sm) {
		 h1, h2, h3, h4, h5, h6 {
			visibility: hidden;
		}
	}
	@media (min-width: $sm) and (max-width: $md) {
		width: 250px;
		height: 330px;
	}
	@media (min-width: $md) and (max-width: $lg) {
		width: 250px;
		height: 330px;
	}
	@media (min-width: $lg) {
		width: 300px;
		height: 400px;
	}
}