.inversionista {
  border-radius: 1em;
  border: solid white 30px;
  margin: auto;
  margin-bottom: 30px;
  /*Media queries*/ }
  .inversionista img {
    width: 100%; }
  .inversionista h1, .inversionista h2, .inversionista h3, .inversionista h4, .inversionista h5, .inversionista h6 {
    text-align: center;
    font: bold; }
  @media (max-width: 750px) {
    .inversionista h1, .inversionista h2, .inversionista h3, .inversionista h4, .inversionista h5, .inversionista h6 {
      visibility: hidden; } }
  @media (min-width: 750px) and (max-width: 970px) {
    .inversionista {
      width: 250px;
      height: 330px; } }
  @media (min-width: 970px) and (max-width: 1170px) {
    .inversionista {
      width: 250px;
      height: 330px; } }
  @media (min-width: 1170px) {
    .inversionista {
      width: 300px;
      height: 400px; } }
